@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html{
    margin: 0;
    padding: 0;
}

.page{
    /*font-family: 'MyFont', sans-serif;*/
    transform: scale(1);
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5mm;
    width: 200mm;
    height: 287mm;

    justify-content: center;
    background-color: #d4e7ed;
    position: relative;
    /*background-color:#2D3047;*/
}

.title{
    position:relative;
    margin: 6.3mm auto 0 auto;
    padding: 0 4mm;
    width: fit-content;
    font-weight: 600;
    font-size: 32pt;
    color: #26314d;
    text-align: center;
    max-width: 190mm;
    z-index: 2;
    line-height: 1.79cm;
    height: 1.79cm;
    background-color: #FEDC5E;
}

.subtitle{
    text-align: center;
    padding-top: 1cm;
    font-size: 16pt;
    position: absolute;
    left: 3.5cm;
    top: 16.6mm;
    z-index: 1;
    border-radius: 20px;
    height: 1.52cm;
    background-color: white;
    width: 14cm;
}

.total-box{
    padding: 0;
    height: 20cm;
    width: 19cm;
    background-color: white;
    border-radius: 20px;
    position:relative;
    margin: 4cm auto 0 auto;
    z-index: 1;
}

.total-title{
    text-align: center;
    position:absolute;
    height: 1.55cm;
    line-height: 1.55cm;
    background-color: #F65272;
    top: -18mm;
    left: 9mm;
    color: white;
    font-size: 32pt;
    width: 3.8cm;
    font-weight: 500;
}

#bubble{
    position: absolute;
    left: 1.3cm;
    top: 1.26cm;
    width: 2.16cm;
    height: 2.16cm;
    border-radius: 20px;
    z-index: 0;
}

#below-bubble{
    text-align: center;
    position: absolute;
    left: 1.6cm;
    top: 2.7cm;
}

#donut{
    position: absolute;
    left: 1.6cm;
    top: 5.4cm;
    z-index: 0;
}

#bar-horizontal1{
    position: absolute;
    left: 9cm;
    top: 4.2cm;
    z-index: 0;
}

#bar-horizontal2{
    position: absolute;
    left: 9cm;
    top: 8.5cm;
    z-index: 0;
}


#right-bubble{
    position: absolute;
    left: 6cm;
    top: 1.26cm;
    width: 11cm;
    height: 2.16cm;
    border-radius: 20px;
    z-index: 0;
}

#split-total-box{
    /*20cm below the top*/
    position: absolute;
    left: 4cm;
    top: 12.5cm;
    height: 0.15cm;
    width: 11cm;
    background-color: #d4e7ed;
    border-radius: 20px;
}

.table-data{
    font-size: 12pt;
    width: 17cm;
    position: absolute;
    left: 2cm;
    top: 14cm;
}

.table-data2{
    text-align: center;
    color: #1c1e21;
    font-size: 12pt;
    width: 7cm;
    position: absolute;
    left: 1cm;
    top: 17cm;
}

.medium-font{
    font-size: 20pt;
    font-weight: 400;
    /*color: #F65272;*/
}

.big-font{
    font-size: 40pt;
    font-weight: 600;
    color: #F65272;

}

.box,.box2{
    padding: 0;
    width: 19cm;
    background-color: white;
    border-radius: 20px;
    position:relative;
    margin: 8mm auto 0 auto;
    z-index: 1;
}

/*.box2{*/
/*    width: 5.6cm;*/
/*}*/

.timeline1{
    height: 5.3cm;
}

.timeline2{
    height: 5.3cm;
}



.weekly, .hourly{
    height: 5.5cm;
    width: 11.3cm;
    float: right;
    margin-right: 5mm;
}

.cloud{
    height:8.6cm;
}

.wordcloud{
    height: 7.5cm;
    margin: 6mm;
}

.left{
    position: absolute;
    left: 1cm;
    top: 12.5cm;
}

.right{
    position: absolute;
    right: 1cm;
    top: 12.5cm;
}

.left, .right{
    height: 15cm;
    width: 6.5cm;
}

.left2, .right2{
    height: 10.65cm;
    width: 6.5cm;
}


.emoji-box{
    margin-top: 1.5cm;
    position: relative;
}

.emoji1{
    position: absolute;
    left: 10cm;
    height: 4.62cm;
    transform: translate(-50%, 0%);
    z-index: 3;
}

.emoji2{
    position: absolute;
    height: 3.8cm;
    left: 6.4cm;
    transform: translate(-50%, 20%);
    z-index: 2;
}
.emoji3{
    position: absolute;
    height: 3.8cm;
    right: 2.9cm;
    transform: translate(-40%, 20%);
    z-index: 2;
}
.emoji4{
    position: absolute;
    height: 2.8cm;
    left: 3.3cm;
    transform: translate(-40%, 55%);
    z-index: 1;
}

.emoji5{
    position: absolute;
    height: 2.8cm;
    right: 1cm;
    transform: translate(-40%, 55%);
    z-index: 1;
}

.emoji1, .emoji2, .emoji3, .emoji4, .emoji5{
    filter: drop-shadow(0 10px 4px rgba(0, 0, 0, 0.3));
}

.name{
    text-align: center;
    width: fit-content;
    margin:4mm auto;
    color: #26314d;
    font-weight: 600;
    padding: 2mm;
    border-radius: 5px;
    background-color: #FEDC5E;
}


.vertical-emoji-box{
    position: absolute;
    left: 6mm;
    top: 30.5mm;
    height: 6cm;
    width: 1cm;
}

.vertical-emoji-box2{
    position: absolute;
    right: 3mm;
    top: 30.5mm;
    height: 6cm;
    width: 1cm;
}

.small-emoji{
    height: 6mm;
    margin-bottom: 1.7mm;
}
